<!DOCTYPE html>
<html ng-app="shortner" xmlns:ng="//angularjs.org">
<head>
    <meta charset="utf-8">
    <title>Shortner</title>

    <link rel="stylesheet" href="/libs/bower/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/libs/bower/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>
<body ng-controller="MainController">

    <div flex-container="row" flex-align="center center">
        <div flex-item="6" class="entry">
            <div flex-container="row" class="card" flex-align="center center">
                <div flex-item="10">
                    <lx-text-field label="Paste your long URL here" fixed-label="true" icon="link">
                        <input type="text" ng-model="url">
                    </lx-text-field>
                </div>
                <div flex-item="2" class="pl++">
                    <button class="btn btn--s btn--blue btn--raised"
                            ng-click="shortUrl(url)"
                            lx-ripple>Shorten</button>
                </div>

            </div>
            <div flex-container="row" flex-align="center center" class="m mt+">
                <div flex-item="6">
                    {{ shortUrl }}
                </div>
            </div>
        </div>

    </div>

    <script src="/libs/bower/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bower/velocity/velocity.min.js"></script>
    <script src="/libs/bower/angular/angular.min.js"></script>
    <script src="/libs/bower/lumx/dist/lumx.min.js"></script>
    <script src="/libs/bower/angular-resource/angular-resource.min.js"></script>
    <script src="/front/app.js"></script>
</body>
</html>
